 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');

 * {
     font-family: 'Work Sans';
 }

 .primary-btn {
     width: 180px;
     height: 64px;
     flex-shrink: 0;
     border-radius: 8px;
     background: #FF900E;
     color: #FFF;
     text-align: center;
     font-family: Work Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     cursor: pointer;
 }

 header {
     background: rgba(255, 144, 14, 0.10);
     padding: 40px 240px;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav-title {
     color: var(--Dark-01, #131313);
     text-align: left;
     font-family: Work Sans;
     font-size: 3rem;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 nav>ul {
     display: flex;
 }

 nav li {
     margin-right: 50px;
     text-decoration: none;
     font-weight: 500;
     font-size: 1rem;
 }

 nav li a {
     text-decoration: none;
     color: black;
 }

 .banner-content {
     max-width: 800px;
     text-align: center;
     margin: 0 auto;
 }

 .banner-title {
     color: var(--Dark-01, #131313);
     text-align: center;
     font-family: Work Sans;
     font-size: 64px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .banner-content img {
     align-content: center;
     width: 800px;

 }

 .banner img {
     margin-top: 20px;
     width: 100%;
 }


 }

 main {
     width: 1440px;
     margin: 0px auto;
 }

 .teams-container {
     display: flex;
     align-items: center;
 }

 .teams-img-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .teams-content {
     padding-left: 70px;
     padding-right: 70px;
 }

 .quick-list {
     color: var(--Dark-03, #727272);
     font-family: Work Sans;
     font-size: 45px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
 }

 .of-our {
     color: var(--Dark-01, #131313);
     font-family: Work Sans;
     font-size: 45px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .featrures {
     color: #FF900E;
     font-family: Work Sans;
     font-size: 45px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }














 @media screen and (max-width: 576px) {
     header {
         background: rgba(255, 144, 14, 0.10);
         padding: 10px 20px;
     }

     nav {
         flex-direction: column;
         margin-right: 2px;
     }

     .teams-img-container {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }

 }


 @media screen and (max-width: 576px) and (max-width: 960px) {
     header {
         background: rgba(255, 144, 14, 0.10);
         padding: 50px;
     }

     nav {
         flex-direction: column;

     }

     .teams-img-container {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }

 }